.topBar{
    .navbar.navbar-inverse{
        min-height: 80px;
        border-radius: 0;
        border: none;
        background-color: black;
        background-image: none;
        display: flex;
        align-items: flex-end;
        margin: 0;
    }
    .active-link{
        color: red!important;
    }
}