.topBar{
    .navbar.navbar-inverse{
        min-height: 80px;
        border-radius: 0;
        border: none;
        background:rgba(28,47,74,0.9);
        background-image: none;
        display: flex;
        align-items: flex-end;
        margin: 0;
    }
    .active-link{
        color:white!important;
    }
}
.favorites-icon{
    height: 15px;
    margin-right: 10px;
    margin-top: -3px;
    opacity: 0.4;
}
.geo-marker{
    height: 20px;
    margin-right: 5px;
    margin-top: -3px;
    opacity: 0.5;
}