.content{
    margin-top: 80px;
}
.col-1{
    height: 300px;
    background-color: #FDF6E3;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.8;
}

.col-2{
    height: 300px;
    background-color: #A6D8FF;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.8;
}

.col-3{
    height: 150px;
    background-color: #FFA6BF;
    margin-bottom: 15px;
}

.col-4{
    height: 400px;
    background-color: #8ED0B0;
    margin-bottom: 15px;
    opacity: 0.8;
    margin-bottom: 15px;
}

.col-5{
    height: 400px;
    background-color: #6765E1;
    opacity: 0.8;
    margin-bottom: 15px;
}

.col-6{
    height: 400px;
    background-color: #908E3B;
    opacity: 0.8;
    margin-bottom: 15px;
}
